.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f0f0f0; 
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h1{
	padding: 15px;
}

.hero p{
	padding: 15px;
	margin-top: 0px; 
}

.explore-btn {
  padding: 15px 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}